<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/not_authorized.css">
    <title>No Autorizado</title>
</head>
<body>
    <div class="container-authorized">
        <div class="target-authorized">
            <p class="target_p-authorized">No autorizado</p>
            <div class="img_"></div>
            <div class="info-authorized">
                
            </div>

        </div>
    </div>
</body>
</html>