<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Succesfull</title>
    <link rel="stylesheet" href="css/save.css">
</head>
<body>
    
    <div class="container-save" id="container">
        <div class="target-save">
            <p class="target_p-save">Guardado Exitoso</p>
            <div class="img_"></div>
            <div class="info-save">
                
            </div>
            <div class="btns-save">
                <form action="/reset" method="post">
                    <button type="submit" name="cerrar" class="btn_cerrar" style="cursor: pointer;">Cerrar</button>
                </form>
                
 
            </div>
        </div>
    </div>
    <script>
      
    </script>
</body>
</html>